:root {
  --primary: #00433F;
  --secondary: #FFF8BE;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  background: var(--secondary);
  color: var(--primary);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  margin-block: 0;
  margin-inline: auto;
  padding-block: 2rem;
  padding-inline: 1rem;
  min-height: 100vh;
  text-wrap: pretty;
  width: min(100%, 70ch);
}

header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

h1,
h2 {
  margin: 0;
  text-wrap: balance;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
textarea {
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

#load {
  background: transparent;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  color: var(--primary);
  cursor: pointer;
  opacity: 0.75;
  padding: 0.25rem 0.5rem;

  &:hover {
    border-color: var(--primary);
    opacity: 1;
  }
}

#randomize,
#items {
  border-radius: 1rem;
  padding: 0.75rem;
  width: 100%;
}

#randomize {
  background: var(--primary);
  border-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
}

#items {
  background: white;
  border: 2px solid var(--primary);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1.5rem;
  resize: none;

  &:focus {
    border: 2px solid var(--primary);
    outline: none;
  }
}

#output {
  border: 2px dotted;
  background: white;
  border-radius: 1rem;
  margin-block-start: 2rem;
  padding: 2rem;
}
